/* Centrer verticalement le contenu principal */
main {
  text-align: center;
}
form {
  margin: 0 auto;
}

/* Footer toujours en bas de la page */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex: 1;
}